body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #000000d2;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text {
  color: white;
  font-size: 50px;
}

.btn {
  border: none;
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}